*{margin:0;padding:0;}a{-webkit-tap-highlight-color:rgba(0,0,0,0);}body{overflow-x:hidden;-webkit-user-select:none;-webkit-text-size-adjust:none;font-family:Helvetica;-webkit-perspective:800;-webkit-transform-style:preserve-3d;}.selectable,input,textarea{-webkit-user-select:auto;}body>*{-webkit-backface-visibility:hidden;-webkit-box-sizing:border-box;display:none;position:absolute;left:0;width:100%;-webkit-transform:translate3d(0,0,0) rotate(0) scale(1);min-height:420px!important;}body.fullscreen>*{min-height:460px!important;}body.fullscreen.black-translucent>*{min-height:480px!important;}body.landscape>*{min-height:320px;}body>.current{display:block!important;}.in,.out{-webkit-animation-timing-function:ease-in-out;-webkit-animation-duration:350ms;}.slide.in{-webkit-animation-name:slideinfromright;}.slide.out{-webkit-animation-name:slideouttoleft;}.slide.in.reverse{-webkit-animation-name:slideinfromleft;}.slide.out.reverse{-webkit-animation-name:slideouttoright;}@-webkit-keyframes slideinfromright{from{-webkit-transform:translateX(100%);}to{-webkit-transform:translateX(0);}}@-webkit-keyframes slideinfromleft{from{-webkit-transform:translateX(-100%);}to{-webkit-transform:translateX(0);}}@-webkit-keyframes slideouttoleft{from{-webkit-transform:translateX(0);}to{-webkit-transform:translateX(-100%);}}@-webkit-keyframes slideouttoright{from{-webkit-transform:translateX(0);}to{-webkit-transform:translateX(100%);}}@-webkit-keyframes fadein{from{opacity:0;}to{opacity:1;}}@-webkit-keyframes fadeout{from{opacity:1;}to{opacity:0;}}.fade.in{z-index:10;-webkit-animation-name:fadein;}.fade.out{z-index:0;}.dissolve.in{-webkit-animation-name:fadein;-webkit-animation-duration:450ms;}.dissolve.out{-webkit-animation-name:fadeout;-webkit-animation-duration:450ms;}.flip{-webkit-animation-duration:.55s;}.flip.in{-webkit-animation-name:flipinfromleft;}.flip.out{-webkit-animation-name:flipouttoleft;}.flip.in.reverse{-webkit-animation-name:flipinfromright;}.flip.out.reverse{-webkit-animation-name:flipouttoright;}@-webkit-keyframes flipinfromright{from{-webkit-transform:rotateY(-180deg) scale(.8);}to{-webkit-transform:rotateY(0) scale(1);}}@-webkit-keyframes flipinfromleft{from{-webkit-transform:rotateY(180deg) scale(.8);}to{-webkit-transform:rotateY(0) scale(1);}}@-webkit-keyframes flipouttoleft{from{-webkit-transform:rotateY(0) scale(1);}to{-webkit-transform:rotateY(-180deg) scale(.8);}}@-webkit-keyframes flipouttoright{from{-webkit-transform:rotateY(0) scale(1);}to{-webkit-transform:rotateY(180deg) scale(.8);}}.slideup.in{-webkit-animation-name:slideup;z-index:10;}.slideup.out{-webkit-animation-name:dontmove;z-index:0;}.slideup.out.reverse{z-index:10;-webkit-animation-name:slidedown;}.slideup.in.reverse{z-index:0;-webkit-animation-name:dontmove;}@-webkit-keyframes slideup{from{-webkit-transform:translateY(100%);}to{-webkit-transform:translateY(0);}}@-webkit-keyframes slidedown{from{-webkit-transform:translateY(0);}to{-webkit-transform:translateY(100%);}}@-webkit-keyframes dontmove{from{opacity:1;}to{opacity:1;}}.swap{-webkit-transform:perspective(800);-webkit-animation-duration:.7s;}.swap.out{-webkit-animation-name:swapouttoleft;}.swap.in{-webkit-animation-name:swapinfromright;}.swap.out.reverse{-webkit-animation-name:swapouttoright;}.swap.in.reverse{-webkit-animation-name:swapinfromleft;}@-webkit-keyframes swapouttoright{0%{-webkit-transform:translate3d(0px,0px,0px) rotateY(0deg);-webkit-animation-timing-function:ease-in-out;}50%{-webkit-transform:translate3d(-180px,0px,-400px) rotateY(20deg);-webkit-animation-timing-function:ease-in;}100%{-webkit-transform:translate3d(0px,0px,-800px) rotateY(70deg);}}@-webkit-keyframes swapouttoleft{0%{-webkit-transform:translate3d(0px,0px,0px) rotateY(0deg);-webkit-animation-timing-function:ease-in-out;}50%{-webkit-transform:translate3d(180px,0px,-400px) rotateY(-20deg);-webkit-animation-timing-function:ease-in;}100%{-webkit-transform:translate3d(0px,0px,-800px) rotateY(-70deg);}}@-webkit-keyframes swapinfromright{0%{-webkit-transform:translate3d(0px,0px,-800px) rotateY(70deg);-webkit-animation-timing-function:ease-out;}50%{-webkit-transform:translate3d(-180px,0px,-400px) rotateY(20deg);-webkit-animation-timing-function:ease-in-out;}100%{-webkit-transform:translate3d(0px,0px,0px) rotateY(0deg);}}@-webkit-keyframes swapinfromleft{0%{-webkit-transform:translate3d(0px,0px,-800px) rotateY(-70deg);-webkit-animation-timing-function:ease-out;}50%{-webkit-transform:translate3d(180px,0px,-400px) rotateY(-20deg);-webkit-animation-timing-function:ease-in-out;}100%{-webkit-transform:translate3d(0px,0px,0px) rotateY(0deg);}}.cube{-webkit-animation-duration:.55s;}.cube.in{-webkit-animation-name:cubeinfromright;-webkit-transform-origin:0 50%;}.cube.out{-webkit-animation-name:cubeouttoleft;-webkit-transform-origin:100% 50%;}.cube.in.reverse{-webkit-animation-name:cubeinfromleft;-webkit-transform-origin:100% 50%;}.cube.out.reverse{-webkit-animation-name:cubeouttoright;-webkit-transform-origin:0 50%;}@-webkit-keyframes cubeinfromleft{from{-webkit-transform:rotateY(-90deg) translateZ(320px);opacity:.5;}to{-webkit-transform:rotateY(0deg) translateZ(0);opacity:1;}}@-webkit-keyframes cubeouttoright{from{-webkit-transform:rotateY(0deg) translateX(0);opacity:1;}to{-webkit-transform:rotateY(90deg) translateZ(320px);opacity:.5;}}@-webkit-keyframes cubeinfromright{from{-webkit-transform:rotateY(90deg) translateZ(320px);opacity:.5;}to{-webkit-transform:rotateY(0deg) translateZ(0);opacity:1;}}@-webkit-keyframes cubeouttoleft{from{-webkit-transform:rotateY(0deg) translateZ(0);opacity:1;}to{-webkit-transform:rotateY(-90deg) translateZ(320px);opacity:.5;}}.pop{-webkit-transform-origin:50% 50%;}.pop.in{-webkit-animation-name:popin;z-index:10;}.pop.out.reverse{-webkit-animation-name:popout;z-index:10;}.pop.in.reverse{z-index:0;-webkit-animation-name:dontmove;}@-webkit-keyframes popin{from{-webkit-transform:scale(.2);opacity:0;}to{-webkit-transform:scale(1);opacity:1;}}@-webkit-keyframes popout{from{-webkit-transform:scale(1);opacity:1;}to{-webkit-transform:scale(.2);opacity:0;}}
body{background:#000;}body>*{background:#EEE;}h1,h2{font:bold 18px Helvetica;text-shadow:rgba(255,255,255,.2) 0 1px 1px;color:#4c566c;margin:10px 20px 6px;}.toolbar{-webkit-box-sizing:border-box;border-bottom:1px solid #2d3642;padding:10px;height:45px;background:url(../iphone/theme.standard/toolbar-4665716976cc74483aab517b87024679ff85d408c6d41681af61e47e0cc841f0.png) #6d84a2 repeat-x;position:relative;}.black-translucent .toolbar{margin-top:20px;}.toolbar>h1{position:absolute;overflow:hidden;left:50%;top:10px;line-height:1em;margin:1px 0 0 -75px;height:40px;font-size:20px;width:150px;font-weight:bold;text-shadow:rgba(0,0,0,0.4) 0 -1px 0;text-align:center;text-overflow:ellipsis;white-space:nowrap;color:#fff;}body.landscape .toolbar>h1{margin-left:-125px;width:250px;}.button,.back,.cancel,.add{position:absolute;overflow:hidden;top:8px;right:6px;margin:0;border-width:0 5px;padding:0 3px;width:auto;height:30px;line-height:30px;font-family:inherit;font-size:12px;font-weight:bold;color:#fff;text-shadow:rgba(0,0,0,0.5) 0 -1px 0;text-overflow:ellipsis;text-decoration:none;white-space:nowrap;background:none;-webkit-border-image:url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/toolButton-c97deb0be80de696083ad33edf5b58b8ef62586cb88fa96051d2e29752bd52c3.png) 0 5 0 5;}.button.active,.back.active,.cancel.active,.add.active{-webkit-border-image:url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/toolButton-c97deb0be80de696083ad33edf5b58b8ef62586cb88fa96051d2e29752bd52c3.png) 0 5 0 5;}.blueButton{-webkit-border-image:url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/blueButton-504d6d82191fd17ae96d15f42dace20ac1895efe89205b0bb204152ff96ed0be.png) 0 5 0 5;border-width:0 5px;}.back{left:6px;right:auto;padding:0;max-width:55px;border-width:0 8px 0 14px;-webkit-border-image:url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/backButton-85868ab7f118c5e59b5d67d833a513679ee61239eadf63bc752f2f6b78f557c1.png) 0 8 0 14;}.leftButton,.cancel{left:6px;right:auto;}.add{font-size:24px;line-height:24px;font-weight:bold;}.whiteButton,.grayButton{display:block;border-width:0 12px;padding:10px;text-align:center;font-size:20px;font-weight:bold;text-decoration:inherit;color:inherit;}.whiteButton{-webkit-border-image:url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/whiteButton-2dd701a9d6c3650c7b24e57f82d10a0b7671607965c67a3f8aaac2e3e03a591d.png) 0 12 0 12;text-shadow:rgba(255,255,255,0.7) 0 1px 0;}.grayButton{-webkit-border-image:url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/grayButton-039b9ffdab362c9129869b961dd2a5930976b90d61145f714ae7d43039bb0ed6.png) 0 12 0 12;color:#FFF;}h1+ul,h2+ul,h3+ul,h4+ul,h5+ul,h6+ul{margin-top:0;}ul{color:black;background:#fff;border:1px solid #B4B4B4;font:bold 17px Helvetica;padding:0;margin:15px 10px 17px 10px;}ul li{color:#666;border-top:1px solid #B4B4B4;list-style-type:none;padding:10px 10px 10px 10px;}li:first-child,li:first-child a{border-top:0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;}li:last-child,li:last-child a{-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;}ul li.arrow{background-image:url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/chevron-88eed35d75907988c5edf2688df02fd8f4a04eac7a5467d847da35ddd32c7270.png);background-position:right center;background-repeat:no-repeat;}#plastic ul li.arrow,#metal ul li.arrow{background-image:url(./img/theme.standard/chevron_dg.png);background-position:right center;background-repeat:no-repeat;}ul li a,li.img a+a{color:#000;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;padding:12px 10px 12px 10px;margin:-10px;-webkit-tap-highlight-color:rgba(0,0,0,0);}ul li a.active{background:#194fdb url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/selection-5814f035b777b0e6ee097277a1d5eb615215014ce44a95c39d2b08d41cca17b0.png) 0 0 repeat-x;color:#fff;}ul li a.button{background-color:#194fdb;color:#fff;}ul li.img a+a{margin:-10px 10px -20px -5px;font-size:17px;font-weight:bold;}ul li.img a+a+a{font-size:14px;font-weight:normal;margin-left:-10px;margin-bottom:-10px;margin-top:0;}ul li.img a+small+a{margin-left:-5px;}ul li.img a+small+a+a{margin-left:-10px;margin-top:-20px;margin-bottom:-10px;font-size:14px;font-weight:normal;}ul li.img a+small+a+a+a{margin-left:0!important;margin-bottom:0;}ul li a+a{color:#000;font:14px Helvetica;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;margin:0;padding:0;}ul li a+a+a,ul li.img a+a+a+a,ul li.img a+small+a+a+a{color:#666;font:13px Helvetica;margin:0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;padding:0;}ul.form li{padding:7px 10px;}ul.form li.error{border:2px solid red;}ul.form li.error+li.error{border-top:0;}ul.form li:hover{background:#fff;}ul li input[type="text"],ul li input[type="tel"],ul li input[type="number"],ul li input[type="password"],ul li textarea,ul li select{color:#777;background:#fff url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/s-f158e68070ccea14af51d255bf422612bc2f11a3df0d3a1c8215f0754cc43fd0.png);border:0;font:normal 17px Helvetica;padding:0;display:inline-block;margin-left:0;width:100%;-webkit-appearance:textarea;}ul li textarea{height:120px;padding:0;text-indent:-2px;}ul li select{text-indent:0;background:transparent url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/chevron-88eed35d75907988c5edf2688df02fd8f4a04eac7a5467d847da35ddd32c7270.png) no-repeat 103% 3px;-webkit-appearance:textfield;margin-left:-6px;width:104%;}ul li input[type="checkbox"],ul li input[type="radio"]{margin:0;color:#324f85;padding:10px 10px;}ul li input[type="checkbox"]:after,ul li input[type="radio"]:after{content:attr(title);font:17px Helvetica;display:block;width:246px;margin:-12px 0 0 17px;}.edgetoedge h4{color:#fff;background:#9a9faa url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/listGroup-4b460cb01c81bd8772bb6738a22096bde7cc3df068ad0cbdb664b498507d2657.png) top left repeat-x;border-top:1px solid #a5b1ba;text-shadow:#666 0 1px 0;margin:0;padding:2px 10px;}.edgetoedge,.metal{margin:0;padding:0;background-color:#fff;}.edgetoedge ul,.metal ul,.plastic ul{-webkit-border-radius:0;margin:0;border-left:0;border-right:0;border-top:0;}.metal ul{border-top:0;border-bottom:0;background:#b4b4b4;}.edgetoedge ul li:first-child,.edgetoedge ul li:first-child a,.edgetoedge ul li:last-child,.edgetoedge ul li:last-child a,.metal ul li:first-child a,.metal ul li:last-child a{-webkit-border-radius:0;}.edgetoedge ul li small{font-size:16px;line-height:28px;}.edgetoedge li,.metal li{-webkit-border-radius:0;}.edgetoedge li em{font-weight:normal;font-style:normal;}.edgetoedge h4+ul{border-top:1px solid #989ea4;border-bottom:1px solid #717d85;}ul li small{color:#369;font:17px Helvetica;text-align:right;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;width:23%;float:right;padding:3px 0;}ul li.arrow small{padding:0 15px;}ul li small.counter{font-size:17px!important;line-height:13px!important;font-weight:bold;background:#9a9faa;color:#fff;-webkit-border-radius:11px;padding:4px 10px 5px 10px;display:inline!important;width:auto;margin-top:-22px;}ul li.arrow small.counter{margin-right:15px;}#plastic ul li.arrow,#metal ul li.arrow{background-image:url(./img/theme.standard/listArrow.png);background-position:right center;background-repeat:no-repeat;}.edgetoedge ul,.metal ul,.plastic ul{-webkit-border-radius:0;margin:0;border-left:0;border-right:0;border-top:0;}.metal ul li{border-top:1px solid #eee;border-bottom:1px solid #9c9ea5;background:url(./img/theme.standard/bgMetal.png) top left repeat-x;font-size:26px;text-shadow:#fff 0 1px 0;}.metal ul li a{line-height:26px;margin:0;padding:13px 0;}.metal ul li a:hover{color:#000;}.metal ul li:hover small{color:inherit;}.metal ul li a em{display:block;font-size:14px;font-style:normal;color:#444;width:50%;line-height:14px;}.metal ul li small{float:right;position:relative;margin-top:10px;font-weight:bold;}.metal ul li.arrow a small{padding-right:0;line-height:17px;}.metal ul li.arrow{background:url(./img/theme.standard/bgMetal.png) top left repeat-x,url(./img/theme.standard/chevron_dg.png) right center no-repeat;}.plastic{margin:0;padding:0;background:#adadad;}.plastic ul{-webkit-border-radius:0;margin:0;border-left:0;border-right:0;border-top:0;background-color:#adadad;}.plastic ul li{-webkit-border-radius:0;border-top:1px solid #bfbfbf;border-bottom:1px solid #9d9d9d;}.plastic ul li:nth-child(odd){background-color:#989898;border-top:1px solid #b5b5b5;border-bottom:1px solid #8a8a8a;}.plastic ul+p{font-size:11px;color:#2f3237;text-shadow:none;padding:10px 10px;}.plastic ul+p strong{font-size:14px;line-height:18px;text-shadow:#fff 0 1px 0;}.plastic ul li a{text-shadow:#d3d3d3 0 1px 0;}.plastic ul li:nth-child(odd) a{text-shadow:#bfbfbf 0 1px 0;}.plastic ul li small{color:#3C3C3C;text-shadow:#d3d3d3 0 1px 0;font-size:13px;font-weight:bold;text-transform:uppercase;line-height:24px;}#plastic ul.minibanner,#plastic ul.bigbanner{margin:10px;border:0;height:81px;clear:both;}#plastic ul.bigbanner{height:140px!important;}#plastic ul.minibanner li{border:1px solid #8a8a8a;background-color:#989898;width:145px;height:81px;float:left;-webkit-border-radius:5px;padding:0;}#plastic ul.bigbanner li{border:1px solid #8a8a8a;background-color:#989898;width:296px;height:140px;float:left;-webkit-border-radius:5px;padding:0;margin-bottom:4px;}#plastic ul.minibanner li:first-child{margin-right:6px;}#plastic ul.minibanner li a{color:transparent;text-shadow:none;display:block;width:145px;height:81px;}#plastic ul.bigbanner li a{color:transparent;text-shadow:none;display:block;width:296px;height:145px;}ul.individual{border:0;background:none;clear:both;overflow:hidden;}ul.individual li{color:#b7becd;background:white;border:1px solid #b4b4b4;font-size:14px;text-align:center;-webkit-border-radius:8px;-webkit-box-sizing:border-box;width:48%;float:left;display:block;padding:11px 10px 14px 10px;}ul.individual li+li{float:right;}ul.individual li a{color:#324f85;line-height:16px;margin:-11px -10px -14px -10px;padding:11px 10px 14px 10px;-webkit-border-radius:8px;}ul.individual li a:hover{color:#fff;background:#36c;}.toggle{width:94px;position:relative;height:27px;display:block;overflow:hidden;float:right;}.toggle input[type="checkbox"]:checked{left:0;}.toggle input[type="checkbox"]{-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0;-webkit-border-radius:5px;background:#fff url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.standard/on_off-86dd5e708d404d68360d85f227e707cbf659cf3316029fcdf9c1280a116902a1.png) 0 0 no-repeat;height:27px;overflow:hidden;width:149px;border:0;-webkit-appearance:textarea;background-color:transparent;-webkit-transition:left .15s;position:absolute;top:0;left:-55px;}.info{background:#dce1eb;font-size:12px;line-height:16px;text-align:center;text-shadow:rgba(255,255,255,.8) 0 1px 0;color:#4c566c;padding:15px;border-top:1px solid rgba(76,86,108,.3);font-weight:bold;}
body {
    background: #FFF;
}



#jqt > * {
    /* background: rgb(197,204,211) url(//clomo.azureedge.net/clomoassets/mdm/assets/iphone/theme.clomo/pinstripes-f7b1d9b7874c2d61cde2043a51acb7ac1a179471fd84152eafe7daa425d2e94f.png); */
    background: #FFF;
}

#jqt h1, #jqt h2 {
    font: bold 18px "Helvetica Neue", Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    color: rgb(76, 86, 108);
    margin: 10px 20px 6px;
}

/* @group Toolbar */

#jqt .toolbar {
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    padding: 10px;
    height: 45px;
    background: url(../iphone/theme.clomo/toolbar-4d5af69cae0f1a439e42e670013d3d0c59a0c1da7a1a5f46ee306f1c21dc5585.png) #6d84a2 repeat-x;
    position: relative;
}

#jqt .black-translucent .toolbar {
	margin-top: 20px;
}

#jqt .toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 10px;
    line-height: 1em;
    margin: 1px 0 0 -75px;
    height: 40px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.a {
    color: blue;
}

#jqt.landscape .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}

#jqt .button, #jqt .back, #jqt .cancel, #jqt .add {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 6px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(../iphone/theme.clomo/toolButton-82b98c3abaefc6cc6af64dce6a7abb3e4f1538d3506568f804591a6a0b5e9c19.png) 0 5 0 5;
}

#jqt .button.active, #jqt .cancel.active, #jqt .add.active {
    -webkit-border-image: url(../iphone/theme.clomo/toolButton-82b98c3abaefc6cc6af64dce6a7abb3e4f1538d3506568f804591a6a0b5e9c19.png) 0 5 0 5;	
}

#jqt .blueButton {
    -webkit-border-image: url(../iphone/theme.clomo/activeButton-504d6d82191fd17ae96d15f42dace20ac1895efe89205b0bb204152ff96ed0be.png) 0 5 0 5;
    border-width: 0 5px;
}

#jqt .back {
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(../iphone/theme.clomo/backButton-11a3cd8750243a969866727e190836c34d28eb5caadfaa695301017a0cea9336.png) 0 8 0 14;
}

#jqt .back.active {
    -webkit-border-image: url(../iphone/theme.clomo/backButton-11a3cd8750243a969866727e190836c34d28eb5caadfaa695301017a0cea9336.png) 0 8 0 14;
}

#jqt .leftButton, #jqt .cancel {
    left: 6px;
    right: auto;
}

#jqt .add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

#jqt .whiteButton,#jqt .grayButton, #jqt .redButton, #jqt .blueButton, #jqt .greenButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

#jqt .whiteButton.active, #jqt .grayButton.active, #jqt .redButton.active, #jqt .blueButton.active, #jqt .greenButton.active,
#jqt .whiteButton:active, #jqt .grayButton:active, #jqt .redButton:active, #jqt .blueButton:active, #jqt .greenButton:active {
    -webkit-border-image: url(../iphone/theme.clomo/activeButton-504d6d82191fd17ae96d15f42dace20ac1895efe89205b0bb204152ff96ed0be.png) 0 12 0 12;
}

#jqt .whiteButton {
    -webkit-border-image: url(../iphone/theme.clomo/whiteButton-2dd701a9d6c3650c7b24e57f82d10a0b7671607965c67a3f8aaac2e3e03a591d.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

#jqt .grayButton {
    -webkit-border-image: url(../iphone/theme.clomo/grayButton-039b9ffdab362c9129869b961dd2a5930976b90d61145f714ae7d43039bb0ed6.png) 0 12 0 12;
    color: #FFFFFF;
}

#jqt .redButton {
    -webkit-border-image: url(../iphone/theme.clomo/redButton-de1f9ea5ca6682ade9348e8b2a2416836fce2dd789d7f43b24ec5db958028173.png) 0 12 0 12;
    color: #FFFFFF;
}

#jqt .greenButton {
    -webkit-border-image: url(../iphone/theme.clomo/greenButton-e4c4c3ce81202eeeb53d98d87a9d9bceaacf54216404a8835009fde7718005fc.png) 0 12 0 12;
    color: #FFFFFF;
}

#jqt .blackButton {
    display:block;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    text-decoration: inherit;
    line-height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #222222;
    border: none;
    height: 40px;
    width: 280px;
    margin: 0 auto;
}

/* @end */

/* @group Lists */

#jqt h1 + ul, #jqt h2 + ul, #jqt h3 + ul, #jqt h4 + ul, #jqt h5 + ul, #jqt h6 + ul {
    margin-top: 0;
}

#jqt ul {
    color: black;
    background: #fff;
    border: 1px solid #B4B4B4;
    font: bold 17px "Helvetica Neue", Helvetica;
    padding: 0;
    margin: 15px 10px 20px 10px;
}

#jqt ul li {
    color: #666;
    border-top: 1px solid #B4B4B4;
    list-style-type: none;
    padding: 10.5px 13px 10.5px 13px;
}

/* when you have a first LI item on any list */

#jqt li:first-child, #jqt li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

#jqt li:last-child, #jqt li:last-child a {
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

/* universal arrows */

#jqt ul li.arrow {
    background-image: url(../iphone/theme.clomo/chevron-88eed35d75907988c5edf2688df02fd8f4a04eac7a5467d847da35ddd32c7270.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#jqt ul li.arrow a { 
	padding: 12px 22px 12px 10px;
}

#jqt ul.plastic li.arrow, #jqt ul.metal li.arrow {
    background-image: url(../iphone/theme.clomo/chevron-88eed35d75907988c5edf2688df02fd8f4a04eac7a5467d847da35ddd32c7270.png);
    background-position: right center;
    background-repeat: no-repeat;
}

/* universal links on list */

#jqt ul li a, #jqt li.img a + a {
    color: #000;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 12px 13px 12px 13px;
    margin: -10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#jqt ul li a.active {
    background-color: #194fdb;
    color: #fff;
}
#jqt ul li.arrow a.active {
    background-image: url(../iphone/theme.clomo/listArrowSel-dd2813877f120be63023eab53563fe8586e5e8d473b8315dcc1925bd8b554f1d.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#jqt ul li a.button {
    background-color: #194fdb;
    color: #fff;
}

#jqt ul li.img a + a {
    margin: -10px 10px -20px -5px;
    font-size: 17px;
    font-weight: bold;
}

#jqt ul li.img a + a + a {
    font-size: 14px;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: 0;
}

#jqt ul li.img a + small + a {
    margin-left: -5px;
}

#jqt ul li.img a + small + a + a {
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: normal;
}

#jqt ul li.img a + small + a + a + a {
    margin-left: 0px !important;
    margin-bottom: 0;
}

#jqt ul li a + a {
    color: #000;
    font: 14px "Helvetica Neue", Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

#jqt ul li a + a + a, #jqt ul li.img a + a + a + a, #jqt ul li.img a + small + a + a + a {
    color: #666;
    font: 13px "Helvetica Neue", Helvetica;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0;
}

/*
@end */

/* @group Forms */

#jqt ul.form li {
    padding: 7px 10px;
}

#jqt ul.form li.error {
    border: 2px solid red;
}

#jqt ul.form li.error + li.error {
    border-top: 0;
}

#jqt ul.form li:hover {
    background: #fff;
}

#jqt ul li input[type="text"],
#jqt ul li input[type="password"],
#jqt ul li input[type="tel"],
#jqt ul li input[type="number"],
#jqt ul li input[type="search"],
#jqt ul li input[type="email"],
#jqt ul li input[type="url"],
#jqt ul li textarea,
#jqt ul li select {
    color: #777;
    background: #fff url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
    border: 0;
    font: normal 17px "Helvetica Neue", Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
}

#jqt ul li textarea {
    height: 120px;
    padding: 0;
    text-indent: -2px;
}

#jqt ul li select {
    text-indent: 0px;
    background: transparent url(../iphone/theme.clomo/chevron-88eed35d75907988c5edf2688df02fd8f4a04eac7a5467d847da35ddd32c7270.png) no-repeat 103% 3px;
    -webkit-appearance: textfield;
    margin-left: -6px;
    width: 104%;
}

#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"] {
    margin: 0;
    color: rgb(50,79,133);
    padding: 10px 10px;
}

#jqt ul li input[type="checkbox"]:after, #jqt ul li input[type="radio"]:after {
    content: attr(title);
    font: 17px "Helvetica Neue", Helvetica;
    display: block;
    width: 246px;
    margin: -12px 0 0 17px;
}

/* @end */

/* @group Edge to edge */
#jqt ul.edgetoedge, #jqt ul.edgetoedge * {
    -webkit-border-radius: 0 !important;
}
	
#jqt ul.edgetoedge li.sep {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(139, 159, 171, 1)), to(rgba(181, 193, 201, 1.0)));
    border-bottom: 1px solid #b5c1c9;
    border-top: 1px solid #b5c1c9;
    color: #fff;
    font-size: 16px;
    margin: 1px 0 0 0;
    padding: 2px 10px;
    text-shadow: #636a6f 0 1px 0;
}

#jqt ul.edgetoedge h4 {
    color: #fff;
    background: rgb(154,159,170) url(../iphone/theme.clomo/listGroup-00e4815896bcb442f4f298ac70c23975dcd455f2704a64ec1caaf67f8245cc86.png) top left repeat-x;
    border-top: 1px solid rgb(165,177,186);
    text-shadow: #666 0 1px 0;
    margin: 0;
    padding: 2px 10px;
}

#jqt .edgetoedge, #jqt .metal {
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
}

#jqt ul.edgetoedge, #jqt ul.metal, #jqt ul.plastic {
    -webkit-border-radius: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#jqt ul.metal {
    border-top: 0;
    border-bottom: 0;
    background: rgb(180,180,180);
}

#jqt ul.edgetoedge li:first-child,
#jqt ul.edgetoedge li:first-child a,
#jqt ul.edgetoedge li:last-child,
#jqt ul.edgetoedge li:last-child a,
#jqt ul.metal li:first-child a,
#jqt ul.metal li:last-child a {
    -webkit-border-radius: 0;
}

#jqt ul.edgetoedge li small {
    font-size: 16px;
    line-height: 28px;
}

#jqt ul.edgetoedge li, #jqt .metal li {
    -webkit-border-radius: 0;
}

#jqt ul.edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}

#jqt ul.edgetoedge h4 + ul {
    border-top: 1px solid rgb(152,158,164);
    border-bottom: 1px solid rgb(113,125,133);
}

/* @end */

/* @group Mini Label */

#jqt ul li small {
    color: #369;
    font: 17px "Helvetica Neue", Helvetica;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
    padding: 3px 0px;
}

#jqt ul li.arrow small {
    padding: 0 15px;
}

#jqt ul li small.counter {
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    background: rgb(154,159,170);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 4px 10px 5px 10px;
    display: inline !important;
    width: auto;
    margin-top: -22px;
}

#jqt ul li.arrow small.counter {
    margin-right: 15px;
}

/* @end */

/* @group Plastic */

#jqt #plastic ul li.arrow, #jqt #metal ul li.arrow {
    background-image: url(../iphone/theme.clomo/chevron-88eed35d75907988c5edf2688df02fd8f4a04eac7a5467d847da35ddd32c7270.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#jqt ul.edgetoedge, #jqt ul.metal, #jqt ul.plastic {
    -webkit-border-radius: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#jqt ul.metal li {
    border-top: 1px solid rgb(238,238,238);
    border-bottom: 1px solid rgb(156,158,165);
    font-size: 26px;
    text-shadow: #fff 0 1px 0;
}

#jqt ul.metal li a {
    line-height: 26px;
    margin: 0;
    padding: 13px 0;
}

#jqt ul.metal li a:hover {
    color: rgb(0,0,0);
}

#jqt ul.metal li:hover small {
    color: inherit;
}

#jqt ul.metal li a em {
    display: block;
    font-size: 14px;
    font-style: normal;
    color: #444;
    width: 50%;
    line-height: 14px;
}

#jqt ul.metal li small {
    float: right;
    position: relative;
    margin-top: 10px;
    font-weight: bold;
}

#jqt ul.metal li.arrow a small {
    padding-right: 0;
    line-height: 17px;
}

#jqt ul.metal li.arrow {
    background:  url(../iphone/theme.clomo/chevron-88eed35d75907988c5edf2688df02fd8f4a04eac7a5467d847da35ddd32c7270.png) right center no-repeat;
}

#jqt .plastic {
    margin: 0;
    padding: 0;
    background: rgb(173,173,173);
}

#jqt ul.plastic {
    -webkit-border-radius: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: rgb(173,173,173);
}

#jqt ul.plastic li {
    -webkit-border-radius: 0;
    border-top: 1px solid rgb(191,191,191);
    border-bottom: 1px solid rgb(157,157,157);
}

#jqt ul.plastic li:nth-child(odd) {
    background-color: rgb(152,152,152);
    border-top: 1px solid rgb(181,181,181);
    border-bottom: 1px solid rgb(138,138,138);
}

#jqt ul.plastic + p {
    font-size: 11px;
    color: #2f3237;
    text-shadow: none;
    padding: 10px 10px;
}

#jqt ul.plastic + p strong {
    font-size: 14px;
    line-height: 18px;
    text-shadow: #fff 0 1px 0;
}

#jqt ul.plastic li a {
    text-shadow: rgb(211,211,211) 0 1px 0;
}

#jqt ul.plastic li:nth-child(odd) a {
    text-shadow: rgb(191,191,191) 0 1px 0;
}

#jqt ul.plastic li small {
    color: #3C3C3C;
    text-shadow: rgb(211,211,211) 0 1px 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

#jqt #plastic ul.minibanner, #jqt #plastic ul.bigbanner {
    margin: 10px;
    border: 0;
    height: 81px;
    clear: both;
}

#jqt #plastic ul.bigbanner {
    height: 140px !important;
}

#jqt #plastic ul.minibanner li {
    border: 1px solid rgb(138,138,138);
    background-color: rgb(152,152,152);
    width: 145px;
    height: 81px;
    float: left;
    -webkit-border-radius: 5px;
    padding: 0;
}

#jqt #plastic ul.bigbanner li {
    border: 1px solid rgb(138,138,138);
    background-color: rgb(152,152,152);
    width: 296px;
    height: 140px;
    float: left;
    -webkit-border-radius: 5px;
    padding: 0;
    margin-bottom: 4px;
}

#jqt #plastic ul.minibanner li:first-child {
    margin-right: 6px;
}

#jqt #plastic ul.minibanner li a {
    color: transparent;
    text-shadow: none;
    display: block;
    width: 145px;
    height: 81px;
}

#jqt #plastic ul.bigbanner li a {
    color: transparent;
    text-shadow: none;
    display: block;
    width: 296px;
    height: 145px;
}

/* @end */

/* @group Individual */

#jqt ul.individual {
    border: 0;
    background: none;
    clear: both;
    overflow: hidden;
}

#jqt ul.individual li {
    color: rgb(183,190,205);
    background: white;
    border: 1px solid rgb(180,180,180);
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    width: 48%;
    float: left;
    display: block;
    padding: 11px 10px 14px 10px;
}

#jqt ul.individual li + li {
    float: right;
}

#jqt ul.individual li a {
    color: rgb(50,79,133);
    line-height: 16px;
    margin: -11px -10px -14px -10px;
    padding: 11px 10px 14px 10px;
    -webkit-border-radius: 8px;
}

#jqt ul.individual li a:hover {
    color: #fff;
    background: #36c;
}

/* @end */

/* @group Toggle */


#jqt .toggle {
    width: 94px;
    position: relative;
    height: 27px;
    display: block;
    overflow: hidden;
    float: right;
}

#jqt .toggle input[type="checkbox"]:checked {
    left: 0px;
}

#jqt .toggle input[type="checkbox"] {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    -webkit-border-radius: 5px;
    background: #fff url(../iphone/theme.clomo/on_off-86dd5e708d404d68360d85f227e707cbf659cf3316029fcdf9c1280a116902a1.png) 0 0 no-repeat;
    height: 27px;
    overflow: hidden;
    width: 149px;
    border: 0;
    -webkit-appearance: textarea;
    background-color: transparent;
    -webkit-transition: left .15s;
    position: absolute;
    top: 0;
    left: -55px;
}
/* @end */



#jqt .info {
    background: #dce1eb;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
    color: rgb(76, 86, 108);
    padding: 15px;
    border-top: 1px solid rgba(76, 86, 108, .3);
    font-weight: bold;
}

#jqt .login_error{
    font-size: 14px;
    margin-top: 34px;
    text-align: center;
    color: #ff0000;
}

input[type='submit'] {
    -webkit-border-radius: 4px;
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1))); */
    border: 1px outset #aaa;
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    padding: 5px 10px 5px 20px;
}

input.submit_button {
    width: 200px;
    height: 40px;
    background: url(../iphone/theme.clomo/login_btn_bg-edaa9fda22324857dc99a67722e786fcc1862345073369ef13c9a1d780bb6410.png) repeat-x top left;
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
}

a.submit_button {
    width: 200px;
    height: 40px;
    line-height: 40px;
    display:inline-block;
    background: url(../iphone/theme.clomo/login_btn_bg-edaa9fda22324857dc99a67722e786fcc1862345073369ef13c9a1d780bb6410.png) repeat-x top left;
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
}

div.submit_button_area {
    text-align:center;
}

label.with_form {
    font-weight: normal;
}



div.user_info { width:280px; margin-left:auto; margin-right:auto; margin-top:34px; color:#666666; }
div.user_info p { font-size:12px; }
div.user_info a { color:#0044CC!important; text-decoration:none; }
div.user_info a:visited { color:#501D8E!important; }

div#footer { text-align:center; margin-top:34px; }
div#footer div#copyright { color:#666666; }
div#footer div#copyright a { color:#0044CC!important; text-decoration:none; }
div#footer div#copyright a:visited { color:#501D8E!important; }


div.footer.copyright { font-size:10px; color:#cccccc; }
div.footer.copyright a { color:#0044CC!important; text-decoration:none; }
div.footer.copyright a:visited { color:#501D8E!important; }

div#secured_verisign {
    width:135px; height:69px;
    position:absolute; top:22px; left:22px;
    background:url(../for_verisign/secured_logo-7b280b18f53f7f9b3e0041aa6a64852b0a9e88aa9328a462176a67453db3e1c9.png) no-repeat 0px 0px;
}

div.errors { font-size:90%; color:#FF0000; margin:10px; }

/*



 */
/*
 *= require iphone/jqtouch
 *= require iphone/theme.base
 *= require iphone/theme.clomo
 */
